name: Deploy site to Github static page
on:
  push:
    branches: [ main ]

jobs:
    build:
        name: Deploy docs
        runs-on: ubuntu-latest
        steps:
          - name: Checkout main
            uses: actions/checkout@v1
          - name: Setup Python
            uses: actions/setup-python@v1
            with:
              python-version: '3.7'
              architecture: 'x64'
          - name: Install dependencies
            run: |
              python3 -m pip install --upgrade pip     # install pip
              python3 -m pip install mkdocs            # install mkdocs 
              python3 -m pip install mkdocs-material   # install material theme
          - name: Build site
            run: mkdocs build
          - name: Deploy site
            uses: mhausenblas/mkdocs-deploy-gh-pages@master
            env:
              GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}