name: Deploy site to Github static page
on:
  push:
    branches: [ main ]

jobs:
    build:
        name: Deploy docs
        runs-on: ubuntu-latest
        steps:
            - name: Checkout main
              uses: actions/checkout@v1

            - name: Deploy MkDocs
              uses: mhausenblas/mkdocs-deploy-gh-pages@master
              env:
                GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
                CUSTOM_DOMAIN: maniaclab.uchicago.edu
                CONFIG_FILE: mkdocs.yml
                EXTRA_PACKAGES: build-base