name: Publish Analysis Facility MKDocs via GitHub Pages
on:
  push:
    branches: [ main ]

jobs:
    build:
        name: Deploy docs
        runs-on: ubuntu-latest
        steps:
            - name: Checkout main
              uses: actions/checkout@v1

            - name: Deploy MkDocs
              uses: mhausenblas/mkdocs-deploy-gh-pages@1.12
              env:
                GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}